<div class="row me-0">
<nav class="navbar navbar-expand-sm fixed-top" id="navbar">
    <div class="container">
        <img src="assets/imgs/logo2.jpg" class="me-2" alt="">
        <a class="navbar-brand mt-1" routerLink="/home">Rapid<span>R</span>x</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
              <ul class="nav nav-underline ms-auto">
                <li class="nav-item me-2">
                        <div class="smallImage d-flex " routerLink="/adminHomePage">
                            <a class="ms-2 nav-link active" aria-current="page">Alex ALex</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/labLogin">LogOut</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="search d-flex justify-content-center align-items-center col-sm-5 mx-auto">
  <input type="search" name="" class="form-control" id="" placeholder="Search User to Add Records ">
  <button class="btnn ms-3">Search</button>
</div>

</div>