<div class="row me-0">
    <nav class="navbar navbar-expand-sm fixed-top mb-5" id="navbar">
        <div class="container">
            <img src="assets/imgs/logo2.jpg" class="me-2" alt="">
            <a class="navbar-brand mt-1" routerLink="/home">Rapid<span>R</span>x</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="nav nav-underline ms-auto  mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link me-2" aria-current="page" routerLink="/changePassword">Change Password</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link me-2" routerLink="/updateInfo">Update Profile</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" routerLink="/predictDisease">Predict Diabetes</a>
                    </li>
                  </ul>
                  <ul class="nav nav-underline ms-auto">
                    <li class="nav-item me-2">
                            <div class="smallImage d-flex " routerLink="/profile">
                                <img  src="assets/imgs/download.jpeg" alt="">
                                <a  class="ms-2 nav-link active" aria-current="page">{{data.firstName}}</a>
                        </div>
                       
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="logOut()">LogOut</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="col-sm-7 mx-auto ">
        <div class="predict  mb-5">
            <h3 class="text-center mb-5 pb-4">Prediction of Diabetes Disease</h3>
            <form (ngSubmit)="predict()" class="" [formGroup]="predictForm">
                <label for="">Body Mass Index (BMI)</label>
                <input type="number" name="" id="" class="form-control mb-5" formControlName="bmi" placeholder="Measure of body fat based on height and weight">
                
                <label for="">HbA1c Level</label>
                <input type="number" name="" id="" class="form-control mb-5" formControlName="HbA1c_level" placeholder="Average Blood Glucose (sugar) Levels for the Last Two to Three Months">

                <label for="" class="mb-2">Blood Glucose Level</label>
                <input type="number" name="" id="" class="form-control mb-5" formControlName="blood_glucose_level" placeholder="Your Blood Glucose Level">

                <label for="" class="mb-2">Smoking History</label>
                <select name="" id="" class="form-select mb-5" formControlName="smoking_history">
                <option selected ></option>
                <option value="never" >Never</option>
                <option value="current" >Current</option>
                <option value="former" >Former</option>
                <option value="no_info" >No Info</option>
               <option value="notCurrent" >Not Current</option> 
               <option value="ever" >Ever</option>
                </select>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btnn pe-5 ps-5" (click)="flag=true">Predict <i class="fa-solid fa-magnifying-glass-chart ms-1"></i></button>
                </div>
            </form>
            <div *ngIf="flag==true" class="w-50 mx-auto result">
                <p class="text-center p-4">{{message}}</p>
            </div>
            
        </div>
    </div>
</div>