
.navbar {
    background-color: #010F1A;
}

span {
    color: var(--orangeColor);
}

a {
    cursor: pointer;
}

a,
h4 {
    color: white;
}

h4 {
    font-size: 25px;
    font-weight: 700;
}
h3 {
    font-weight: 600;
}

.nav-item a {
    font-size: 17px;
    font-weight: 700;
}

a:hover {
    color: white !important;
}

.active {
    color: white !important;
}

img {
    width: 5.5%;
}

label {
    color: var(--blueColor);
}

::placeholder {
    opacity: 0.3;
    font-size: 15px;
}

input {
    background-color: #F1F1F1;
    border-radius: 0 !important;
    border: 0 !important;
}

.btnn {
    background-color: #010F1A;
    color: white;
    border-radius: 0;
    border: 0;
    padding: 14px 12px;
    text-decoration: none;
}

.smallImage img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.info img {
    width: 100%;
}
.smallImage img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
select {
    background-color: #F1F1F1;
    border: 0;
    border-radius: 0;
}

.name {
    cursor: pointer;
}
.predict{
    margin-top: 120px;
   
}
.result{
    background-color: white;
    box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.75);
    border-radius: 6px;
    color: var(--blueColor);
}
