<div class="row body me-0 ">
    <nav class="navbar navbar-expand-lg fixed-top mb-5" id="navbar">
        <div class="container">
            <img src="assets/imgs/logo2.jpg" class="me-2" alt="">
            <a class="navbar-brand mt-1" routerLink="/home">Rapid<span>R</span>x</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav nav-underline ms-auto">
                    <li class="nav-item me-2">
                        <a class="nav-link" aria-current="page" routerLink="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown me-3">
                            <a class="dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false">
                                Sign In
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item " routerLink="/login"> <i class="fa-solid fa-user me-2"
                                            style="color: #010f1a;"></i>User</a></li>
                                <li><a class="dropdown-item" routerLink="/institutionLogin"><i
                                            class="fa-solid fa-house-chimney-medical me-1" style="color: #010f1a;"></i>
                                        Clinic</a></li>
                                <li><a class="dropdown-item "><i class="fa-solid fa-flask-vial me-2"
                                            style="color: #010f1a;"></i>Lab</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="col-md-9 mx-auto mt-5">
        <div class="personal_form mb-5  col-sm-10 mx-auto">
            <form action=""[formGroup]="signUpForm">
                 <div class="row">
                <div class="row pe-0 mb-4">
                    <div class="col-md-6  pe-0">
                        <label for="firstname" class="ms-2">First Name</label>
                        <input type="text" class="form-control" formControlName="firstName" placeholder="Your First Name">
                        <div class="" *ngIf="signUpForm.controls['firstName'].invalid && (signUpForm.controls['firstName'].touched || signUpForm.controls['firstName'].dirty)">
                            <small class="text-danger" *ngIf="signUpForm.controls['firstName'].errors?.['required']">firstName is Required</small>
                            <small class="text-danger" *ngIf="signUpForm.controls['firstName'].errors?.['minlength']">firstName minLength is 3</small>
                            <small class="text-danger" *ngIf="signUpForm.controls['firstName'].errors?.['pattern']">firstName must be letters only</small>
                          </div>
                    </div>
                    <div class="col-md-6 pe-0 ">
                        <label for="lastname" class="ms-2">Last Name</label>
                        <input type="text" class="form-control" formControlName="lastName" placeholder="Your Last Name">
                        <div class="" *ngIf="signUpForm.controls['lastName'].invalid && (signUpForm.controls['lastName'].touched || signUpForm.controls['lastName'].dirty)">
                            <small class="text-danger" *ngIf="signUpForm.controls['lastName'].errors?.['required']">LastName is Required</small>
                            <small class="text-danger" *ngIf="signUpForm.controls['lastName'].errors?.['minlength']">LastName minLength is 3</small>
                            <small class="text-danger" *ngIf="signUpForm.controls['lastName'].errors?.['pattern']">LastName must be letters only</small>
                          </div>
                    </div>
                </div>
                <div class="col-md-12 mb-4">
                    <label for="email" class="ms-2">Email</label>
                    <input type="email" class="form-control" formControlName="email" placeholder="Your Email">
                    <div class="" *ngIf="signUpForm.controls['email'].invalid && (signUpForm.controls['email'].touched || signUpForm.controls['email'].dirty)">
                        <small class="text-danger" *ngIf="signUpForm.controls['email'].errors?.['required']">email is Required</small>
                        <small class="text-danger" *ngIf="signUpForm.controls['email'].errors?.['email']">email is invalid example@example.com</small>
                      </div>
                </div>

                <div class="row pe-0 mb-4">
                    <div class="col-md-6 pe-0">
                        <label for="password" class="ms-2">Password</label>
                        <input type="password" class="form-control" placeholder="Your Password" formControlName="password">
                        <div class="" *ngIf="signUpForm.controls['password'].invalid && (signUpForm.controls['password'].touched || signUpForm.controls['password'].dirty)">
                            <small class="text-danger"  *ngIf="signUpForm.controls['password'].errors?.['required']">password is Required</small >
                          </div>
                    </div>
                    <div class="col-md-6 pe-0">
                        <label for="repassword" class="ms-2">Re-Password</label>
                        <input type="password" class="form-control" formControlName="repassword" placeholder="Confirm Your Password">
                        <div class="" *ngIf="signUpForm.controls['repassword'].invalid && (signUpForm.controls['repassword'].touched || signUpForm.controls['repassword'].dirty)">
                            <small class="text-danger" *ngIf="signUpForm.controls['repassword'].errors?.['required']">repassword is Required</small >
                          </div>
                    </div>

                </div>
                <div class="row pe-0 mb-4">
                    <div class="col-md-6 pe-0">
                        <label for="phone" class="ms-2">Phone</label>
                        <input type="tel" class="form-control" formControlName="phone" placeholder="Your Phone">
                        <div class="" *ngIf="signUpForm.controls['phone'].invalid && (signUpForm.controls['phone'].touched || signUpForm.controls['phone'].dirty)">
                            <small class="text-danger" *ngIf="signUpForm.controls['phone'].errors?.['required']">phone is Required</small>
                            <small class="text-danger" *ngIf="signUpForm.controls['phone'].errors?.['pattern']">Invalid phone number</small>
                          </div>
                    </div>
                    <div class="col-md-6 pe-0">
                        <label for="gender" class="ms-2">Gender</label>
                        <select name="Gender" class="form-select" formControlName="gender">
                            <option value="" disabled selected hidden>Select an option</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                        <div class="" *ngIf="signUpForm.controls['gender'].invalid && (signUpForm.controls['gender'].touched || signUpForm.controls['gender'].dirty)">
                            <small class="text-danger" *ngIf="signUpForm.controls['gender'].errors?.['required']">gender is Required</small >
                          </div>
                    </div>
                </div>
                <div class="row pe-0 mb-4">
                    <div class="col-md-6 ">
                        <label for="address" class="ms-2">Address</label>
                        <input type="text" class="form-control" formControlName="address" placeholder="Your Address">
                        <div class="" *ngIf="signUpForm.controls['address'].invalid && (signUpForm.controls['address'].touched || signUpForm.controls['address'].dirty)">
                            <small class="text-danger" *ngIf="signUpForm.controls['address'].errors?.['required']">Address is Required</small>
                          </div>
                    </div>

                    <div class="col-md-6 ">
                        <label for="age" class="ms-2">Age</label>
                        <input type="number" class="form-control" formControlName="age" placeholder="Your Age">
                        <div class="" *ngIf="signUpForm.controls['age'].invalid && (signUpForm.controls['age'].touched || signUpForm.controls['age'].dirty)">
                            <small class="text-danger" *ngIf="signUpForm.controls['age'].errors?.['required']">Age is Required</small>
                          </div>
                    </div>
                </div>

                <div class="row pe-0 mb-4">
            <div class="col-md-6">
                <label for="Marital Status" class="ms-2 mt-2 mb-2">Marital Status</label>
                <select class="form-select" formControlName="maritalStatus">
                    <option value="" disabled selected hidden>Select an option</option>
                    <option value="Single">Single</option>
                    <option value="married">Married</option>
                    <option value="Divorced">Divorced</option>
                    <option value="Widowed">Widowed</option>
                </select>
                <div class="" *ngIf="signUpForm.controls['maritalStatus'].invalid && (signUpForm.controls['maritalStatus'].touched || signUpForm.controls['maritalStatus'].dirty)">
                    <small class="text-danger" *ngIf="signUpForm.controls['maritalStatus'].errors?.['required']">Marital Status is Required</small>
                  </div>
            </div>
            <div class="col-md-6">
                <label for="image" class="ms-2 mt-2 mb-2">Upload Your Image</label>
                <input type="file" class="form-control" (change)="onFileSelect($event)" required>
            </div>
        </div> 
            </div> 
            </form>
          
        </div>

       

    </div>
    <div class="div d-flex justify-content-center">
        <a class="btnn ps-5 pe-5 mt-4 mb-3" (click)="saveData()"> Next <i class="fa-solid fa-arrow-right"></i></a>
    </div>
</div>