*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title{
    background-color: var(--blueColor);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    position: fixed;
    top: 0;
    left: 0;
}
.title p{
    width: 50%;
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 30px;  
}
.title span{
    color: var(--orangeColor);
}
.body{
    background-color: var(--bodycolor);
}
label{
    color: var(--blueColor);
}
input{
    background-color: #D9D9D9;
}
.logo{
    width: 150px;
}
select{
    background-color: #D9D9D9;
}
.btn{
    background-color: var(--orangeColor);
    color: white; 
}
.steps{
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0px;
}
.num{
    width: 30px;
    height: 30px;
    border: 1px solid  var(--blueColor);
    display: flex;
    justify-content: center;
    border-radius: 50%;
    
}
.num1{
    border: 3px solid  var(--orangeColor);
    font-weight: 500;
}
.steps p{
    color: var(--blueColor);
}

.per{
    margin-top: 15px;
}
.first::after , .sec::after{
    content: " ";
    background-color:var(--blueColor);
    position: absolute;
    left: 120%;
    top: 50%;
    width: 75px;
    height: 2px;
}
.first{
    font-weight: 600;
}
.personal_form{
    box-shadow: -8px 6px 26px -7px var(--blueColor);
    border: 1px solid var(--blueColor);
    border-radius: 20px;
    padding: 50px;
    margin-top: 30px;
}