.navbar {
    background-color: #010F1A;
}

span {
    color: var(--orangeColor);
}
.dropdown-item {
    color: #010F1A;
}

.dropdown-item:hover {
    color: #010F1A !important;
    cursor: pointer;
}

a {
    cursor: pointer;
}

.dropdown-menu a:hover .dropdown-toggle {
    color: white !important;
}
a,
h4 {
    color: white;
}

h4 {
    font-size: 25px;
    font-weight: 700;
}

.nav-item a {
    font-size: 17px;
    font-weight: 700;
}

a:hover {
    color: white !important;
}

.active {
    color: white !important;
}

img {
    width: 5.5%;
}
label{
    color: var(--blueColor);
}

select{
    background-color: #F1F1F1;
    border: 0;
    border-radius: 0;
}

.personal_form{
    margin-top: 100px;
}
::placeholder {
    opacity: 0.3; 
    font-size: 15px;
  }
  input {
    background-color: #F1F1F1;
    border-radius: 0 !important;
    border: 0 !important;
}
.btnn{
    background-color: #010F1A;
    color: white;
    border-radius: 0 ;
    padding: 14px 0px;
    text-decoration: none;
 }