<div class="row me-0">
    <nav class="navbar navbar-expand-lg fixed-top mb-5" id="navbar">
        <div class="container">
            <img src="assets/imgs/logo2.jpg" class="me-2" alt="">
            <a class="navbar-brand mt-1" routerLink="/home">Rapid<span>R</span>x</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav nav-underline ms-auto">
                    <li class="nav-item me-2">
                        <a class="nav-link" aria-current="page" routerLink="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown me-3">
                            <a class="dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false">
                                Sign In
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item " routerLink="/login"> <i class="fa-solid fa-user me-2"
                                            style="color: #010f1a;"></i>User</a></li>
                                <li><a class="dropdown-item" routerLink="/institutionLogin"><i
                                            class="fa-solid fa-house-chimney-medical me-1" style="color: #010f1a;"></i>
                                        Clinic</a></li>
                                <li><a class="dropdown-item "><i class="fa-solid fa-flask-vial me-2"
                                            style="color: #010f1a;"></i>Lab</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="col-sm-10 mx-auto">
        <div class="info ps-2 pt-3 pb-5 first_section form ">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-sm-3 imgDiv">
                    <img [src]="data.fileUrl || defaultImageUrl" (error)="onImageError($event)"
                        class="img-thumbnail rounded-circle" alt="">
                </div>
                <div class="col-sm-9 ">
                    <h3>{{data.firstName}} {{data.lastName}}</h3>
                    <div class="d-flex justify-content-evenly">
                        <p class="fw-light">{{data.age}} yrs, {{data.gender}}</p>
                        <p class="fw-light ms-auto">Address: {{data.address}}</p>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between fw-light">
                        <p>Weight: {{data.weight}} Kg</p>
                        <p>Height: {{data.height}} Cm</p>
                        <p>Blood Type: {{data.bloodType}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4 ps-2 first_section">
            <table class="personalTable table table-striped mb-0 mb-0">
                <thead class="text-center">
                    <tr>
                        <th colspan="4">Personal <span>Medical</span> History</th>
                    </tr>
                </thead>
                <tbody class="">
                    <tr>
                        <td>
                            <i *ngIf="data.personalMedicalHistory.anemia" class="fa-solid fa-check"></i>
                            <label for="">Animia</label>

                        </td>
                        <td>
                            <i *ngIf="data.personalMedicalHistory.arthritis" class="fa-solid fa-check"></i>
                            <label for="">Arthirits</label>

                        </td>
                        <td>
                            <i *ngIf="data.personalMedicalHistory.asthma" class="fa-solid fa-check"></i>
                            <label for="">Asthma</label>

                        </td>
                        <td>
                            <i *ngIf="data.personalMedicalHistory.cancer" class="fa-solid fa-check"></i>
                            <label for="">Cancer</label>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i *ngIf="data.personalMedicalHistory.chronicObstructive" class="fa-solid fa-check"></i>
                            <label for="">Chronic Obstructive</label>

                        </td>
                        <td>
                            <i *ngIf="data.personalMedicalHistory.heartDisease" class="fa-solid fa-check"></i>
                            <label for="">Heart Disease</label>

                        </td>
                        <td>
                            <i *ngIf="data.personalMedicalHistory.clottingDisorder" class="fa-solid fa-check"></i>
                            <label for="">Clotting Disorder</label>

                        </td>
                        <td>
                            <i *ngIf="data.personalMedicalHistory.congestiveHeartFailure" class="fa-solid fa-check"></i>
                            <label for="">Congestive Heart Failure</label>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i *ngIf="data.personalMedicalHistory.crohnsDisease" class="fa-solid fa-check"></i>
                            <label for="">Crohn's Disease</label>

                        </td>
                        <td> <i *ngIf="data.personalMedicalHistory.depression" class="fa-solid fa-check"></i>
                            <label for="">Depression</label>

                        </td>
                        <td>
                            <i *ngIf="data.personalMedicalHistory.diabetes" class="fa-solid fa-check"></i>
                            <label for="">Diabetes</label>

                        </td>
                        <td>
                            <i *ngIf="data.personalMedicalHistory.emphysema" class="fa-solid fa-check"></i>
                            <label for="">Emphysema</label>

                        </td>
                    </tr>
                    <tr>
                        <td> <i *ngIf="data.personalMedicalHistory.endocrineProblems" class="fa-solid fa-check"></i>
                            <label for="">Endocrine Problems</label>

                        </td>
                        <td>
                            <i *ngIf="data.personalMedicalHistory.GERD" class="fa-solid fa-check"></i>
                            <label for="">GERD</label>

                        </td>
                        <td>
                            <i *ngIf="data.personalMedicalHistory.glaucoma" class="fa-solid fa-check"></i>
                            <label for="">Glaucoma</label>

                        </td>
                        <td>
                            <i *ngIf="data.personalMedicalHistory.hepatitis" class="fa-solid fa-check"></i>
                            <label for="">Hepatitis</label>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i *ngIf="data.personalMedicalHistory.HIV_AIDS" class="fa-solid fa-check"></i>
                            <label for="">HIV/AIDS</label>

                        </td>
                        <td>
                            <i *ngIf="data.personalMedicalHistory.hypertension" class="fa-solid fa-check"></i>
                            <label for="">Hypertension</label>

                        </td>
                        <td>
                            <i *ngIf="data.personalMedicalHistory.kidneyDisease" class="fa-solid fa-check"></i>
                            <label for="">Kidney Disease</label>

                        </td>
                        <td>
                            <i *ngIf="data.personalMedicalHistory.myocardialInfarction" class="fa-solid fa-check"></i>
                            <label for="">Myocardial Infarction</label>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i *ngIf="data.personalMedicalHistory.pepticUlcerDisease" class="fa-solid fa-check"></i>
                            <label for="">Peptic UIcer Disease</label>

                        </td>
                        <td>
                            <i *ngIf="data.personalMedicalHistory.seizures" class="fa-solid fa-check"></i>
                            <label for="">Seizures</label>

                        </td>
                        <td>
                            <i *ngIf="data.personalMedicalHistory.stroke" class="fa-solid fa-check"></i>
                            <label for="">Stroke</label>

                        </td>
                        <td>
                            <i *ngIf="data.personalMedicalHistory.ulcerativeColitis" class="fa-solid fa-check"></i>
                            <label for="">UIcerative Colitis</label>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="mt-4 ps-2 first_section">
            <table class="personalTable table table-striped mb-0 mb-0">
                <thead class="text-center">
                    <tr>
                        <th colspan="4">Personal <span>Allergies</span> History</th>
                    </tr>
                </thead>
                <tbody class="">
                    <tr>
                        <td>
                            <i *ngIf="data.personalAllergiesHistory.foodAllergies" class="fa-solid fa-check"></i>
                            <label for="">Food Allergies</label>

                        </td>
                        <td>
                            <i *ngIf="data.personalAllergiesHistory.drugAllergies" class="fa-solid fa-check"></i>
                            <label for="">Drug Allergies</label>

                        </td>
                        <td>
                            <i *ngIf="data.personalAllergiesHistory.dustAllergies" class="fa-solid fa-check"></i>
                            <label for="">Dust Allergies</label>

                        </td>
                        <td>
                            <i *ngIf="data.personalAllergiesHistory.petAllergies" class="fa-solid fa-check"></i>
                            <label for="">Pet Allergies</label>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i *ngIf="data.personalAllergiesHistory.temperatureChanges" class="fa-solid fa-check"></i>
                            <label for="">Tempreture Changes</label>

                        </td>
                        <td>
                            <i *ngIf="data.personalAllergiesHistory.seasonalAllergies" class="fa-solid fa-check"></i>
                            <label for="">Seasonal Allergies</label>

                        </td>
                        <td>
                            <i *ngIf="data.personalAllergiesHistory.pollutionAllergy" class="fa-solid fa-check"></i>
                            <label for="">Pollution Allergy</label>

                        </td>
                        <td>
                            <i *ngIf="data.personalAllergiesHistory.moldAllergies" class="fa-solid fa-check"></i>
                            <label for="">Mold Allergies</label>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="info contactslabel  mt-4 p-4 first_section ">
            <div>
                <h2 class="text-center">Emergency Contacts</h2>
                <p class="firstContact"><i class="fa-solid fa-address-book me-2"></i>First Contact</p>
                        <div class="row pe-0 mb-4">
                            <div class="col-md-4 pe-0">
                                <label for="emerfirstname" class="ms-2">Name</label>
                                <p class="ms-2">{{data.emergencyContacts[0].firstName}}
                                    {{data.emergencyContacts[0].lastName}}</p>

                            </div>
                            <div class="col-md-4 pe-0">
                                <label for="emeraddress" class="ms-2">Address</label>
                                <p class="ms-2">{{data.emergencyContacts[0].address}}</p>
                            </div>
                            <div class="col-md-4 pe-0">
                                <label for="emerPhone" class="ms-2">Phone</label>
                                <p class="ms-2">{{data.emergencyContacts[0].phone}}</p>
                            </div>
                        </div>
                        <hr class="mt-4">
                    </div>
                    <div>
                        <p class="secondContact"><i class="fa-solid fa-address-book me-2"></i>Second Contact</p>
                        <div class="row  pe-0">
                            <div class="row pe-0 ">
                                <div class="col-md-4 pe-0">
                                    <label for="emerfirstname" class="ms-2">Name</label>
                                    <p class="ms-2">{{data.emergencyContacts[1].firstName}} {{data.emergencyContacts[0].lastName}}
                                    </p>

                                </div>
                                <div class="col-md-4 pe-0">
                                    <label for="emeraddress" class="ms-2">Address</label>
                                    <p class="ms-2">{{data.emergencyContacts[1].address}}</p>
                                </div>
                                <div class="col-md-4 pe-0">
                                    <label for="emerPhone" class="ms-2">Phone</label>
                                    <p class="ms-2">{{data.emergencyContacts[1].phone}}</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

