<app-navbar></app-navbar>
<div class="home">
    
   <div id="carouselExampleAutoplaying" class="carousel slide mt-5 ms-4 me-4" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleAutoplaying"  data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
    <div class="carousel-inner">
        <div class="carousel-item active item1">
            <div class="layer d-flex align-items-center">
                <div class="container text-white w-50 mx-0 ps-3 ">
                    <h1 class="mb-3 slide-in-left">Welcome To</h1>
                    <h1 class="mb-3 slide-in-left">Rapid<span>R</span>x </h1>
                    <p class="slide-in-left-delayed">It is a cutting-edge web platform that leverages NFC (Near Field
                        Communication) technology or QR Code to
                        instantly access comprehensive patient medical histories through quick scans of patient-specific
                        NFC cards.</p>
                </div>
            </div>
        </div>
        <div class="carousel-item item2">
            <div class="layer d-flex align-items-center">
                <div class="container text-white w-50 mx-0 ps-3 ">
                    <h1 class="mb-3 slide-in-left">Introducing Machine Learning Model</h1>
                    <p class="slide-in-left-delayed">RabidRX is introducing a groundbreaking machine learning algorithm
                        focused on analyzing lab results for predicting diseases. This innovation aims to revolutionize
                        emergency healthcare by providing swift and accurate medical information, potentially saving
                        lives with proactive healthcare measures.</p>
                </div>
            </div>
        </div>
    </div>

</div> 
</div>
