<app-navbar></app-navbar>
<div class="home">
  <div class="container-fluid pt-5 ">
 <div class="row mt-5 ps-4">
    <div class="col-sm-7">
     <div class="row">
        <div class="col-sm-5 img1 me-3 rounded-3">
        </div>
        <div class="col-sm-6 img2 mb-5">
        <img src="assets/imgs/img22.jpg" class="rounded-2" alt="">
        </div>
        <h1 class="mt-5 pt-5 mb-3 text">Rapid<span>R</span>x</h1>
        <p class="text-capitalize mt-5 mb-5 ps-2 text">Medical Health Care | Egypt</p>
     </div>
    </div>
    <div class="col-sm-5 img3 w-25 ms-auto mb-5">
    </div>
 </div>
</div>  
</div>

