.home{
    background-color: var(--bodycolor);
}
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
}

.slide-in-left {
    animation: slideInLeft 1s forwards;
}
.slide-in-left-delayed {
    animation: slideInLeft 1s forwards;
    animation-delay: 1s; 
    animation-fill-mode: forwards; 
    visibility: hidden;
}
.item1{
    background-image: url(../../../assets/imgs/rapidRx.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
}
.item2{
    background-image: url(../../../assets/imgs/Machine_Learning.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 100vh; 
}

.layer{
    min-height: 100vh;
    background-color: rgba(0, 0 ,0,0.6);
}
span{
    color: var(--orangeColor);
}
h1{
    font-size: 50px;
    font-stretch: 100%;
    letter-spacing: 0.1em;
    font-weight: 320;
}
.layer p{
    font-size: 17px;
    line-height: 2.1em;
}