@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in-left {
    animation: slideInLeft 1s ease-in-out;
}
.slide1{
    background-image: url(../../../assets/imgs/rapidRx.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
    overflow: hidden;
    
}

.slide2{
    background-image: url(../../../assets/imgs/Machine_Learning.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
}
.layer{
    min-height: 100vh;
    background-color: rgba(0, 0 ,0,0.7);
}
span{
    color: var(--orangeColor);
}
h1{
    font-size: 50px;
    font-stretch: 100%;
    letter-spacing: 0.1em;
    font-weight: 320;
}
.layer p{
    font-size: 17px;
}

/* .owl-carousel .item {
    position: relative;
    height: 300px; 
    display: flex;
    justify-content: center;
    align-items: center;

  } */
  
  .owl-carousel .text {
    position: absolute;
    left: -100px;
    margin: 0;
    padding: 10px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
  }