.navbar {
  background-color: #010F1A;
}

span {
  color: var(--orangeColor);
}

a {
  cursor: pointer;
}

a,
h4 {
  color: white;
}

h4 {
  font-size: 25px;
  font-weight: 700;
}

.nav-item a {
  font-size: 17px;
  font-weight: 700;
}

a:hover {
  color: white !important;
}

.active {
  color: white !important;
}

img {
  width: 5.5%;
}
.btnn {
  background-color: #010F1A;
  color: white;
  border-radius: 0;
  border: 0;
  padding: 14px 12px;
  text-decoration: none;
}
.form {
  margin-top: 120px;
}
.smallImage img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.first_section{
    background-color: white;
    box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.75);
    border-radius: 6px;
    color: var(--blueColor);
}
.name{
    cursor: pointer;
}
.personalInfo{
    border: 1px solid black;
    border-radius: 3px;
}
.imgDiv{
  width: 200px;
  height: 170px;
}
.info img{
    width: 100%;
    height: 100%;
}
.dropdown-item{
  color: #010F1A;
}
.dropdown-item:hover{
  color: #010F1A !important;
  cursor: pointer;
}
a{
  cursor: pointer;
}
.dropdown-menu a:hover .dropdown-toggle{
color: white !important;
}
.custom-dropdown-menu {
  max-height: 300px; 
  overflow-y: auto; 
  white-space: normal; 
  word-wrap: break-word; 
  overflow-wrap: break-word;
  width: 400px; 
  padding: 10px; 
  border-radius: 5px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  position: absolute; 
  top: 100%; 
  right: 0; 
  transform: translateX(-50%); 
}

.custom-dropdown-menu::-webkit-scrollbar {
  width: 5px; 
  height: 5px; 
}

.custom-dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #ccc; 
  border-radius: 5px; 
}

.custom-dropdown-menu::-webkit-scrollbar-track {
  background-color: #f0f0f0; 
  border-radius: 5px; 
}

.custom-dropdown-menu .dropdown-item {
  white-space: normal;
}
.notNum{
  position: absolute;
  top:-5px;
  right: 10px;
 color: var(--orangeColor);
 font-size: 18px;
 font-weight: 900;
 border-radius: 3px;
  /* border-radius: 50%;
  width: 30px;
  height: 30px; */
}