    <div class="col-sm-7 mx-auto ">
        <div class="m-3">
         <form class="p-5" (ngSubmit)="handle(form)"[formGroup]="form">
            <label  for="curren_pass">Current Password</label>
            <input class="form-control mb-5" type="password" formControlName="oldPassword" placeholder="Your Current Password">
            <label  for="new_pass">New Password</label>
            <input class="form-control mb-5" type="password" formControlName="newPassword" placeholder="Your New Password">
            <label  for="re_pass">Confirm New Password</label>
            <input class="form-control mb-5" type="password" placeholder="Confirm Your New Password">
            <button type="submit" class="btnn">Update Password <i class="fa-solid fa-pen ms-1"></i></button>
            <p *ngIf="isUpdated">Password is Updated </p>
         </form>
        </div>
    </div>
