<div class="row me-0">
    <nav class="navbar navbar-expand-sm fixed-top mb-5" id="navbar">
        <div class="container">
            <img src="assets/imgs/logo2.jpg" class="me-2" alt="">
            <a class="navbar-brand mt-1" routerLink="/home">Rapid<span>R</span>x</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="nav nav-underline ms-auto  mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active me-2" aria-current="page" routerLink="/changePassword">Change Password</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link me-2" routerLink="/updateInfo">Update Profile</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/predictDisease">Predict Diabetes</a>
                    </li>
                  </ul>
                  <ul class="nav nav-underline ms-auto">
                    <li class="nav-item me-2">
                            <div class="smallImage d-flex " routerLink="/profile">
                                <img  src="assets/imgs/download.jpeg" alt="">
                                <a  class="ms-2 nav-link active" aria-current="page">Alex ALex</a>
                        </div>
                       
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/login">LogOut</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="col-sm-7 mx-auto ">
        <div class="m-3">
         <form class="p-5" (ngSubmit)="handle(form)"[formGroup]="form">
            <label  for="curren_pass">Current Password</label>
            <input class="form-control mb-5" type="password" formControlName="oldPassword" placeholder="Your Current Password">
            <label  for="new_pass">New Password</label>
            <input class="form-control mb-5" type="password" formControlName="newPassword" placeholder="Your New Password">
            <label  for="re_pass">Confirm New Password</label>
            <input class="form-control mb-5" type="password" placeholder="Confirm Your New Password">
            <button type="submit" class="btnn">Update Password <i class="fa-solid fa-pen ms-1"></i></button>
            <p *ngIf="isUpdated">Password is Updated </p>
         </form>
        </div>
    </div>
</div>
