<nav class="navbar navbar-expand-lg">
  <div class="container">
    <img src="assets/imgs/rx.png" alt="">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <div class="ms-auto d-flex ">
        <div class="dropdown me-3">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           English
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item">Arabic</a></li>
            
          </ul>
        </div>
        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sign In
          </a>
        
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/login">User</a></li>
            <li><a class="dropdown-item" routerLink="/institutionLogin">Medical Institution</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>