<nav class="navbar fixed-top " id="navbar">
  <div class="container">
      <img src="assets/imgs/logo2.jpg" class="me-2" alt="">
     <h4 class="mt-1">Rapid<span>R</span>x</h4>
<div class="ms-auto" >
      <ul class="nav nav-underline">
        <li class="nav-item">
          <div class="dropdown me-3">
            <a class="dropdown-toggle nav-link active" data-bs-toggle="dropdown" aria-expanded="false">
             English
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item "><i class="fa-solid fa-earth-africa" style="color: #010f1a;"></i>Arabic</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <div class="dropdown me-3">
            <a class="dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false">
             Sign In
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item " routerLink="/login"> <i class="fa-solid fa-user me-1" style="color: #010f1a;"></i>User</a></li>
              <li><a class="dropdown-item"><i class="fa-solid fa-house-chimney-medical me-1" style="color: #010f1a;"></i> Clinic</a></li>
              <li><a class="dropdown-item "><i class="fa-solid fa-flask-vial me-1" style="color: #010f1a;"></i>Lab</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    </div>
</nav>