.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100000;
    background-color: var(--bodycolor);
}
img{
    width: 5%;
}
.btn{
    background-color: var(--orangeColor);
    color: white;
    
}
