.navbar{
background-color:#010F1A;
}
span{
    color: var(--orangeColor);
}
a , h4{
    color: white;
}
h4{
    font-size: 25px;
    font-weight: 700;
}
.nav-item a{
    font-size: 17px;
    font-weight: 700;
}
a:hover{
    color: white !important;
}
.active{
    color: white !important;
}
img{
    width: 5.5%;
}
.dropdown-item{
    color: #010F1A;
}
.dropdown-item:hover{
    color: #010F1A !important;
    cursor: pointer;
}
a{
    cursor: pointer;
}
.dropdown-menu a:hover .dropdown-toggle{
 color: white !important;
}
.navbar {
    transition: background-color 0.5s;
  }
