<div class="col-sm-10 mx-auto home">
    <div class="row justify-content-evenly">
        <h2 class="text-center pb-4 title">Select Option</h2>


        <div class="col-sm-5 clinic text-center">
            <h5 class=" subTitle">Scan QR Code</h5>
            <img src="assets/imgs/qr.gif" alt=""  routerLink="/clinic/qrScanner">
        </div>
        <div class="col-sm-1 line">
        </div>
        <div class="col-sm-5 lab text-center">
            <h5 class="subTitle">Search By Email</h5>
            <img src="assets/imgs/searchh.gif" class="ms-5" alt="" routerLink="/clinic/seachUser">

        </div>
    </div>
</div>