.scan{
    margin-top: 120px;
}
.nfc-container{
    margin-top: 160px;
}

.btnn {
    background-color: #010F1A;
    color: white;
    border-radius: 0;
    border: 0;
    padding: 14px 12px;
    text-decoration: none;
  }
  .line{
    height: 60vh;
    width: 0.1px;
    background-color: #010F1A;
    transform: scaleX(0.2);
    border-radius: 4px;
    box-shadow: 1px 1px 35px 5px rgba(0,0,0,0.75);
  }