<div class="row body me-0" id="j">
    <nav class="navbar navbar-expand-lg fixed-top mb-5" id="navbar">
        <div class="container">
          <img src="assets/imgs/logo2.jpg" class="me-2" alt="">
          <a class="navbar-brand mt-1" routerLink="/home">Rapid<span>R</span>x</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
            <ul class="nav nav-underline ms-auto">
              <li class="nav-item me-2">
                <a class="nav-link" aria-current="page" routerLink="/home" >Home</a>
              </li>
              <li class="nav-item">
                <div class="dropdown me-3">
                  <a class="dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false">
                   Sign In
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item " routerLink="/login"> <i class="fa-solid fa-user me-2" style="color: #010f1a;"></i>User</a></li>
                    <li><a class="dropdown-item" routerLink="/institutionLogin"><i class="fa-solid fa-house-chimney-medical me-1" style="color: #010f1a;"></i> Clinic</a></li>
                    <li><a class="dropdown-item "><i class="fa-solid fa-flask-vial me-2" style="color: #010f1a;"></i>Lab</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
          </div>
      </nav>
    <div class="col-md-8 mx-auto">
        <form [formGroup]="form" class="personal_form mb-5 mx-auto">
            <div class="row mb-5" >
                <div class="col-md-4">
                    <label for="weight" class="ms-2">Weight</label>
                    <input type="number" class="form-control" formControlName="weight" placeholder="Your Weight">
                </div>
                <div class="col-md-4">
                    <label for="height" class="ms-2">Height</label>
                    <input type="number" class="form-control" formControlName="height" placeholder="Your Height">
                </div>
                <div class="col-md-4">
                    <label for="bloddType" class="ms-2">Blood Type</label>
                    <select name="bloodType" id="" class="form-select" formControlName="bloodType">
                        <option value="" disabled selected>Your Blood Type</option>
                        <option ngValue="A">A</option>
                        <option ngValue="A+">A+</option>
                        <option ngValue="A-">A-</option>
                        <option ngValue="B">B</option>
                        <option ngValue="B+">B+</option>
                        <option ngValue="B-">B-</option>
                        <option ngValue="O">O</option>
                        <option ngValue="O+">O+</option>
                        <option ngValue="O-">O-</option>
                        <option ngValue="AB">AB</option>
                        <option ngValue="AB-">AB-</option>
                        <option ngValue="AB+">AB+</option>
                    </select>
                </div>
            </div>
            <div class="row mt-5 mb-5 tbl" formArrayName="personalMedicalHistory">
                <table class="personalTable table table-striped mb-0 mb-0">
                    <thead class="text-center">
                        <tr>
                            <th colspan="4">Personal <span>Medical</span> History: have you ever had any of the
                                following?</th>
                        </tr>
                    </thead>
                    <tbody class="">
                        <tr>
                            <td>
                                <input type="checkbox" name="animia" value="animia" class="me-2"
                                    formControlName="anemia">
                                <label for="">Animia</label>
                            </td>
                            <td>
                                <input class="me-2" type="checkbox" name="Arthirits" value="Arthirits"
                                    formControlName="arthritis">
                                <label for="">Arthirits</label>

                            </td>
                            <td>
                                <input class="me-2" type="checkbox" name="Asthma" value="Asthma"
                                    formControlName="asthma">
                                <label for="">Asthma</label>

                            </td>
                            <td>
                                <input class="me-2" type="checkbox" name="Cancer" value="Cancer"
                                    formControlName="cancer">
                                <label for="">Cancer</label>

                            </td>
                        </tr>
                        <tr>
                            <td> <input class="me-2" type="checkbox" name="Chronic Obstructive"
                                    value="Chronic Obstructive" formControlName="chronicObstructive">
                                <label for="">Chronic Obstructive</label>

                            </td>
                            <td> <input class="me-2" type="checkbox" name="Disease" value="Disease"
                                    formControlName="heartDisease">
                                <label for="">Heart Disease</label>

                            </td>
                            <td><input class="me-2" type="checkbox" name="Clotting Disorder" value="Clotting Disorder"
                                    formControlName="clottingDisorder">
                                <label for="">Clotting Disorder</label>

                            </td>
                            <td> <input class="me-2" type="checkbox" name="Congestive Heart Failure"
                                    value="Congestive Heart Failure" formControlName="congestiveHeartFailure">
                                <label for="">Congestive Heart Failure</label>

                            </td>
                        </tr>
                        <tr>
                            <td> <input class="me-2" type="checkbox" name="Crohn's Disease" value="Crohn's Disease"
                                    formControlName="crohnsDisease">
                                <label for="">Crohn's Disease</label>

                            </td>
                            <td> <input class="me-2" type="checkbox" name="Depression" value="Depression"
                                    formControlName="depression">
                                <label for="">Depression</label>

                            </td>
                            <td><input class="me-2" type="checkbox" name="Diabetes" value="Diabetes"
                                    formControlName="diabetes">
                                <label for="">Diabetes</label>

                            </td>
                            <td> <input class="me-2" type="checkbox" name="Emphysema" value="Emphysema"
                                    formControlName="emphysema">
                                <label for="">Emphysema</label>

                            </td>
                        </tr>
                        <tr>
                            <td> <input class="me-2" type="checkbox" name="Endocrine Problems"
                                    value="Endocrine Problems" formControlName="endocrineProblems">
                                <label for="">Endocrine Problems</label>

                            </td>
                            <td><input class="me-2" type="checkbox" name="GERD" value="GERD" formControlName="GERD">
                                <label for="">GERD</label>

                            </td>
                            <td> <input class="me-2" type="checkbox" name="Glaucoma" value="Glaucoma"
                                    formControlName="glaucoma">
                                <label for="">Glaucoma</label>

                            </td>
                            <td> <input class="me-2" type="checkbox" name="Hepatitis" value="Hepatitis"
                                    formControlName="hepatitis">
                                <label for="">Hepatitis</label>

                            </td>
                        </tr>
                        <tr>
                            <td> <input class="me-2" type="checkbox" name="HIV/AIDS" value="HIV/AIDS"
                                    formControlName="HIV_AIDS">
                                <label for="">HIV/AIDS</label>

                            </td>
                            <td><input class="me-2" type="checkbox" name="Hypertension" value="Hypertension"
                                    formControlName="hypertension">
                                <label for="">Hypertension</label>

                            </td>
                            <td> <input class="me-2" type="checkbox" name="Kidney Disease" value="Kidney Disease"
                                    formControlName="kidneyDisease">
                                <label for="">Kidney Disease</label>

                            </td>
                            <td> <input class="me-2" type="checkbox" name="Myocardial Infarction"
                                    value="Myocardial Infarction" formControlName="myocardialInfarction">
                                <label for="">Myocardial Infarction</label>

                            </td>
                        </tr>
                        <tr>
                            <td> <input class="me-2" type="checkbox" name="Peptic UIcer Disease"
                                    value="Peptic UIcer Disease" formControlName="pepticUlcerDisease">
                                <label for="">Peptic UIcer Disease</label>

                            </td>
                            <td> <input class="me-2" type="checkbox" name="Seizures" value="Seizures"
                                    formControlName="seizures">
                                <label for="">Seizures</label>

                            </td>
                            <td><input class="me-2" type="checkbox" name="Stroke" value="Stroke"
                                    formControlName="stroke">
                                <label for="">Stroke</label>

                            </td>
                            <td> <input class="me-2" type="checkbox" name="UIcerative Colitis"
                                    value="UIcerative Colitis" formControlName="ulcerativeColitis">
                                <label for="">UIcerative Colitis</label>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row mt-5 mb-5 tbl" formArrayName="personalSurgicalHistory">
                <table class="surgeryTable table table-striped mb-0">
                    <thead class="text-center">
                        <tr>
                            <th colspan="4">Personal <span>Surgical</span> History: have you ever had any of the
                                following?</th>
                        </tr>
                    </thead>
                    <tbody class="">
                        <tr>
                            <td>
                                <input type="checkbox" name="Adrenal Gland Surgery" value="Adrenal Gland Surgery"
                                    class="me-2" formControlName="adrenalGlandSurgery">
                                <label for="">Adrenal Gland Surgery</label>

                            </td>
                            <td>
                                <input class="me-2" type="checkbox" name="Colon Surgery" value="Colon Surgery"
                                    formControlName="colonSurgery">
                                <label for="">Colon Surgery</label>

                            </td>
                            <td>
                                <input class="me-2" type="checkbox" name="Kidney Surgery" value="Kidney Surgery"
                                    formControlName="kidneySurgery">
                                <label for="">Kidney Surgery</label>

                            </td>
                            <td>
                                <input class="me-2" type="checkbox" name="Appendectomy" value="Appendectomy"
                                    formControlName="appendectomy">
                                <label for="">Appendectomy</label>

                            </td>
                        </tr>
                        <tr>
                            <td> <input class="me-2" type="checkbox" name="Artery Surgery" value="Artery Surgery"
                                    formControlName="arterySurgery">
                                <label for="">Artery Surgery</label>

                            </td>
                            <td> <input class="me-2" type="checkbox" name="Neck Surgery" value="Neck Surgery"
                                    formControlName="neckSurgery">
                                <label for="">Neck Surgery</label>

                            </td>
                            <td> <input class="me-2" type="checkbox" name="Thyroid Surgery" value="Thyroid Surgery"
                                    formControlName="thyroidSurgery">
                                <label for="">Thyroid Surgery</label>

                            </td>
                            <td> <input class="me-2" type="checkbox" name="Esophagus Surgery" value="Esophagus Surgery"
                                    formControlName="esophagusSurgery">
                                <label for="">Esophagus Surgery</label>

                            </td>
                        </tr>
                        <tr>
                            <td> <input class="me-2" type="checkbox" name="Prostate Surgery" value="Prostate Surgery"
                                    formControlName="prostateSurgery">
                                <label for="">Prostate Surgery</label>
                            </td>
                            <td> <input class="me-2" type="checkbox" name="Bladder Surgery" value="Bladder Surgery"
                                    formControlName="bladderSurgery">
                                <label for="">Bladder Surgery</label>

                            </td>
                            <td><input class="me-2" type="checkbox" name="Large Intestine Surgery"
                                    value="Large Intestine Surgery" formControlName="largeIntestineSurgery">
                                <label for="">Large Intestine Surgery</label>

                            </td>
                            <td> <input class="me-2" type="checkbox" name="Gastric Bypass Surgery"
                                    value="Gastric Bypass Surgery" formControlName="gastricBypassSurgery">
                                <label for="">Gastric Bypass Surgery</label>

                            </td>
                        </tr>
                        <tr>
                            <td> <input class="me-2" type="checkbox" name="Lungs Surgery" value="Lungs Surgery"
                                    formControlName="lungSurgery">
                                <label for="">Lungs Surgery</label>

                            </td>
                            <td><input class="me-2" type="checkbox" name="Small Intestine Surgery"
                                    value="Small Intestine Surgery" formControlName="smallIntestineSurgery">
                                <label for="">Small Intestine Surgery</label>

                            </td>
                            <td> <input class="me-2" type="checkbox" name="Breast Surgery" value="Breast Surgery"
                                    formControlName="breastSurgery">
                                <label for="">Breast Surgery</label>

                            </td>
                            <td> <input class="me-2" type="checkbox" name="Hemorrhoid Surgery"
                                    value="Hemorrhoid Surgery" formControlName="hemorrhoidSurgery">
                                <label for="">Hemorrhoid Surgery</label>

                            </td>
                        </tr>
                        <tr>
                            <td> <input class="me-2" type="checkbox" name="Spine Surgery" value="Spine Surgery"
                                    formControlName="spineSurgery">
                                <label for="">Spine Surgery</label>
                            </td>
                            <td><input class="me-2" type="checkbox" name="Utrus Surgery" value="Utrus Surgery"
                                    formControlName="uterusSurgery">
                                <label for="">Utrus Surgery</label>

                            </td>
                            <td> <input class="me-2" type="checkbox" name="Cesarean Section" value="Cesarean Section"
                                    formControlName="cesareanSection">
                                <label for="">Cesarean Section</label>

                            </td>
                            <td> <input class="me-2" type="checkbox" name="Stomach Surgery" value="Stomach Surgery"
                                    formControlName="stomachSurgery">
                                <label for="">Stomach Surgery</label>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row mt-5 mb-5 tbl" formArrayName="personalAllergiesHistory">
                <table class="allergyTable table table-striped mb-0">
                    <thead class="text-center">
                        <tr>
                            <th colspan="4">Personal <span>Allergies</span> History: have you ever had any of the
                                following?</th>
                        </tr>
                    </thead>
                    <tbody class="">
                        <tr>
                            <td>
                                <input type="checkbox" name="Food Allergies" value="Food Allergies" class="me-2"
                                    formControlName="foodAllergies">
                                <label for="">Food Allergies</label>

                            </td>
                            <td>
                                <input class="me-2" type="checkbox" name="Drug Allergies" value="Drug Allergies"
                                    formControlName="drugAllergies">
                                <label for="">Drug Allergies</label>

                            </td>
                            <td>
                                <input class="me-2" type="checkbox" name="Dust Allergies" value="Dust Allergies"
                                    formControlName="dustAllergies">
                                <label for="">Dust Allergies</label>

                            </td>
                            <td>
                                <input class="me-2" type="checkbox" name="Pet Allergies" value="Pet Allergies"
                                    formControlName="petAllergies">
                                <label for="">Pet Allergies</label>

                            </td>
                        </tr>
                        <tr>
                            <td> <input class="me-2" type="checkbox" name="Tempreture Changes"
                                    value="Tempreture Changes" formControlName="temperatureChanges">
                                <label for="">Tempreture Changes</label>

                            </td>
                            <td> <input class="me-2" type="checkbox" name="Seasonal Allergies"
                                    value="Seasonal Allergies" formControlName="seasonalAllergies">
                                <label for="">Seasonal Allergies</label>

                            </td>
                            <td><input class="me-2" type="checkbox" name="Pollution Allergy" value="Pollution Allergy"
                                    formControlName="pollutionAllergy">
                                <label for="">Pollution Allergy</label>

                            </td>
                            <td> <input class="me-2" type="checkbox" name="Mold Allergies" value="Mold Allergies"
                                    formControlName="moldAllergies">
                                <label for="">Mold Allergies</label>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row mt-5 mb-5 tbl" >
                <table class=" FamilyTable table table-striped mb-0" formArrayName="familyMedicalHistory" >
                    <thead class="text-center">
                        <tr>
                            <th colspan="4">Family <span>Medical</span> History: has anyone in your family had any of
                                the following?</th>
                    </thead>
                    <tbody class="">
                        <tr>
                            <td>
                                <input type="checkbox" name="fm-Cancer" value="fm-Cancer" class="me-2"
                                    formControlName="cancer">
                                <label for="">Cancer</label>

                            </td>
                            <td>
                                <input class="me-2" type="checkbox" name="fm-Animia" value="fm-Animia"
                                    formControlName="anemia">
                                <label for="">Animia</label>

                            </td>
                            <td>
                                <input class="me-2" type="checkbox" name="fm-High Blood Pressure"
                                    value="fm-High Blood Pressure" formControlName="highBloodPressure">
                                <label for="">High Blood Pressure</label>

                            </td>
                            <td>
                                <input class="me-2" type="checkbox" name="fm-Diabetes" value="fm-Diabetes"
                                    formControlName="diabetes">
                                <label for="">Diabetes</label>

                            </td>
                        </tr>
                        <tr>
                            <td> <input class="me-2" type="checkbox" name="fm-Anesthesia Reaction"
                                    value="fm-Anesthesia Reaction" formControlName="anesthesiaReaction">
                                <label for="">Anesthesia Reaction</label>

                            </td>
                            <td> <input class="me-2" type="checkbox" name="fm-Blood Clots" value="fm-Blood Clots"
                                    formControlName="bloodClots">
                                <label for="">Blood Clots</label>

                            </td>
                            <td><input class="me-2" type="checkbox" name="fm-Bleeding Problems"
                                    value="fm-Bleeding Problems" formControlName="bleedingProblems">
                                <label for="">Bleeding Problems</label>

                            </td>
                            <td> <input class="me-2" type="checkbox" name="fm-Heart Disease" value="fm-Heart Disease"
                                    formControlName="heartDisease">
                                <label for="">Heart Disease</label>

                            </td>
                        </tr>
                        <tr>
                            <td> <input class="me-2" type="checkbox" name="fm-Hepatitis" value="fm-Hepatitis"
                                    formControlName="hepatitis">
                                <label for="">Hepatitis</label>
                            </td>
                            <td> <input class="me-2" type="checkbox" name="fm-Stroke" value="fm-Stroke"
                                    formControlName="stroke">
                                <label for="">Stroke</label>

                            </td>
                            <td><input class="me-2" type="checkbox" name="fm-Kidney Disease" value="fm-Kidney Disease"
                                    formControlName="kidneyDisease">
                                <label for="">Kidney Disease</label>

                            </td>
                            <td> <input class="me-2" type="checkbox" name="fm-Endocrine Problems"
                                    value="fm-Endocrine Problems" formControlName="endocrineProblems">
                                <label for="">Endocrine Problems</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="div d-flex justify-content-evenly">
                <a class="btnn ps-5 pe-5 mt-4 mb-3" routerLink="/register"><i class="fa-solid fa-arrow-left me-2"></i>Back</a>
                <a class="btnn ps-5 pe-5 mt-4 mb-3" routerLink="/emergency_Contact">Next <i class="fa-solid fa-arrow-right ms-1"></i></a>

            </div>
        </form>
    </div>
</div>