.navbar {
    background-color: #010F1A;
  }
  
  span {
    color: var(--orangeColor);
  }
  
  a {
    cursor: pointer;
  }
  
  a,
  h4 {
    color: white;
  }
  
  h4 {
    font-size: 25px;
    font-weight: 700;
  }
  
  .nav-item a {
    font-size: 17px;
    font-weight: 700;
  }
  
  a:hover {
    color: white !important;
  }
  
  .active {
    color: white !important;
  }
  .nav-link{
    color: white !important;
  }
  nav img {
    width: 5.5%;
  }
  .btnn {
    background-color: #010F1A;
    color: white;
    border-radius: 0;
    border: 0;
    padding: 14px 30px;
    text-decoration: none;
  }
  .search{
    height: 100vh;
  }