<div class="search w-100 d-flex flex-column justify-content-center align-items-center col-sm-5 mx-auto">
    <div class="w-50 d-flex">
      <input type="text" [(ngModel)]="searchVal" class="form-control" placeholder="Search User By Email">
      <button class="btnn ms-3">Search</button>
    </div>
    <div *ngIf="searchVal" class="scrollable-container w-50">
      <div *ngFor="let user of allusers | searchUsers: searchVal; let j = index" class="user-item d-flex">
        <p>{{ user.email }}</p>
        <div class="ms-auto">
          <button class="btnn2" (click)="setSelectedUser(user._id)">View <i class="fa-solid fa-eye ms-1"></i></button>
        </div>
      </div>
    </div>
  </div>