<div class="row body me-0 ">
    <nav class="navbar navbar-expand-lg fixed-top mb-5" id="navbar">
        <div class="container">
          <img src="assets/imgs/logo2.jpg" class="me-2" alt="">
          <a class="navbar-brand mt-1" routerLink="/home">Rapid<span>R</span>x</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
            <ul class="nav nav-underline ms-auto">
              <li class="nav-item me-2">
                <a class="nav-link" aria-current="page" routerLink="/home" >Home</a>
              </li>
              <li class="nav-item">
                <div class="dropdown me-3">
                  <a class="dropdown-toggle nav-link active" data-bs-toggle="dropdown" aria-expanded="false">
                   Sign In
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item " routerLink="/login"> <i class="fa-solid fa-user me-2" style="color: #010f1a;"></i>User</a></li>
                    <li><a class="dropdown-item" routerLink="/institutionLogin"><i class="fa-solid fa-house-chimney-medical me-1" style="color: #010f1a;"></i> Clinic</a></li>
                    <li><a class="dropdown-item " routerLink="/labLogin"><i class="fa-solid fa-flask-vial me-2" style="color: #010f1a;"></i>Lab</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
          </div>
      </nav>
    <div class="col-md-7 mx-auto">

        <form class="login_form mb-5  col-sm-10 mx-auto"[formGroup]="login" (ngSubmit)="signIn(login)">
            <div class="row">
                <div class="row pe-0">
                    <div class="col-md-12 pe-0">
                        <label for="email_login" class="ms-2">UserName</label>
                        <input type="text" class="form-control mb-lg-5" formControlName="userName" placeholder="Your UserName">
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="password_login" class="ms-2">Password</label>
                    <input type="password" class="form-control mb-5" formControlName="password" placeholder="Your Password">
                </div>
            </div>
            <div class="div">
                <button type="submit" class="btnn ps-5 pe-5 ">Login</button> 
            </div>   
        </form>
    </div>
</div>
