
<div class="row me-0">
    <div class="col-sm-10 mx-auto mb-5">
        <div class="info ps-2 pe-5 pt-5 pb-5 first_section form">
            <div class="row">
                <div class="col-sm-3 imgDiv">
                    <img [src]="data.fileUrl || defaultImageUrl" (error)="onImageError($event)"
                    class="img-thumbnail rounded-circle" alt="">
                </div>
                <div class="col-sm-9">
                    <h3>{{data.firstName}} {{data.lastName}}</h3>
                    <div class="d-flex justify-content-evenly">
                        <p class="fw-light">{{data.age}} yrs, {{data.gender}}</p>
                        <p class="fw-light ms-auto">Address: {{data.address}}</p>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between fw-light">
                        <p>Weight: {{data.weight}} Kg</p>
                        <p>Height: {{data.height}} Cm</p>
                        <p>Blood Type: {{data.bloodType}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4 mb-3 ps-2 first_section">
            <table class="personalTable table table-striped mb-0 mb-0">
                <thead class="text-center">
                    <tr>
                        <th colspan="4">Family <span>Medical</span> History</th>
                    </tr>
                </thead>
                <tbody class="">
                    <tr>
                        <td>
                            <i *ngIf="data.familyMedicalHistory.cancer" class="fa-solid fa-check"></i>
                            <label for="">Cancer</label>

                        </td>
                        <td>
                            <i *ngIf="data.familyMedicalHistory.anemia" class="fa-solid fa-check"></i>
                            <label for="">Animia</label>

                        </td>
                        <td>
                            <i *ngIf="data.familyMedicalHistory.highBloodPressure" class="fa-solid fa-check"></i>
                            <label for="">High Blood Pressure</label>

                        </td>
                        <td>
                            <i *ngIf="data.familyMedicalHistory.diabetes" class="fa-solid fa-check"></i>
                            <label for="">Diabetes</label>

                        </td>
                    </tr>
                    <tr>
                        <td> 
                            <i *ngIf="data.familyMedicalHistory.anesthesiaReaction" class="fa-solid fa-check"></i>
                            <label for="">Anesthesia Reaction</label>

                        </td>
                        <td>
                            <i *ngIf="data.familyMedicalHistory.bloodClots" class="fa-solid fa-check"></i>
                            <label for="">Blood Clots</label>

                        </td>
                        <td>
                            <i *ngIf="data.familyMedicalHistory.bleedingProblems" class="fa-solid fa-check"></i>
                            <label for="">Bleeding Problems</label>

                        </td>
                        <td>
                            <i *ngIf="data.familyMedicalHistory.heartDisease" class="fa-solid fa-check"></i>
                            <label for="">Heart Disease</label>

                        </td>
                    </tr>
                    <tr>
                        <td> 
                            <i *ngIf="data.familyMedicalHistory.hepatitis" class="fa-solid fa-check"></i>
                            <label for="">Hepatitis</label>
                        </td>
                        <td> 
                            <i *ngIf="data.familyMedicalHistory.stroke" class="fa-solid fa-check"></i>
                            <label for="">Stroke</label>

                        </td>
                        <td><i *ngIf="data.familyMedicalHistory.kidneyDisease" class="fa-solid fa-check"></i>
                            <label for="">Kidney Disease</label>

                        </td>
                        <td> <i *ngIf="data.familyMedicalHistory.endocrineProblems" class="fa-solid fa-check"></i>
                            <label for="">Endocrine Problems</label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> 
        <div class="d-flex justify-content-between">
            <button class="btnn mt-4 pe-3 mb-5" routerLink="/UserProfile/profile"><i class="fa-solid fa-arrow-left me-2"></i>Back</button>
            <button routerLink="/UserProfile/files" class="btnn mt-4 mb-5">Medical Files...</button>
        </div>
        
    </div>

</div>
 
